.galeria-eventos {
  color: #f1f5f9;

  .titulo-seccion {
    font-size: 2.25rem;
    font-weight: bold;
  }

  .evento-card {
    background-color: #1a202c;
    padding: 1rem;
    border-radius: 12px;
    transition: transform 0.3s ease;

    a {
      text-decoration: none;
      color: inherit;
    }

    img {
      border-radius: 8px;
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.25rem;
      text-align: center;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.foto-wrapper {
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.foto-wrapper.seleccionada {
  border-color: #0d6efd;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25);
}

.galeria-fotos .img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  background: #222;
}

.galeria-fotos .text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter size */
  width: 100%;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 16px;
}

.titulo-evento {
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
  color: #f8fafc;
}

.subtitulo-evento {
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  color: #a0aec0;
}
