<section id="quien-soy" class="quien-soy-section">
  <div class="container text-center">
    <h2 class="titulo">¿Quién Soy?</h2>
    <p class="descripcion">
      Soy <strong>Mauro Gigena</strong>, Soy Mauro Gigena, fotógrafo
      especializado en eventos que cuentan historias únicas. Creo profundamente
      en capturar momentos auténticos, esos gestos espontáneos y emociones
      reales que permanecen vivas en cada imagen. Mi compromiso es que revivas
      cada instante con naturalidad, frescura y pasión, transformando tus
      recuerdos en fotografías que hablan por sí mismas.
    </p>

    <div class="foto-perfil">
      <img src="/pics/perfil.jpg" alt="Mauro Gigena" />
    </div>

    <div class="acciones">
      <a
        href="https://wa.link/yz5x5h"
        target="_blank"
        class="btn btn-success mt-3">Contactame</a
      >
    </div>
  </div>
</section>
