---
import Eventos from "./reactComponents/Eventos.jsx";
---

<section id="eventos" class="quien-soy-section">
    <div class="container text-center">
      <h2 class="titulo mt-5">Galeria de eventos</h2>
<Eventos client:load />
</div>
</section>
